/* Global Styles */

body {
  background-color: lightblue;
}

h3 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 1.3em;
}

.right {
  float: right;
}

.login h4 {
  margin-bottom: 5px;
  color: rgb(70,168,175);
}
p {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}


.top_section {
  border-radius: 25px 25px 0 0;
  background-color: white;
  width: 80%;
}

.top_section > .pure-u-1-2 > img {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.pure-g {
  margin: 0 auto;
  width: 80%;
}

/* Navigation */

ul  {
  display: inline;
  letter-spacing: normal;
}

.topnav {
  margin-top: 68px;
}


 h3 {
  display: block;
  letter-spacing: 1px;
  font-size: small;
  color: lightblue;
}

.navbar_and_search {
  width: 100%;
}
.navbar_and_search > .nav_and_search_wrapper > ul {
    color: rgb(125,37,87);
    background-color: rgb(244,201,208);
    padding-left: 175px;

}
.searchicon {
  padding-right: 20px;
  padding-top: 8px;
}

.navbar_and_search > .nav_and_search_wrapper > ul > li {
  display: inline;
  padding: 20px;
  }


.search {
  float: right;
  border-radius: 15px;
}

input[type="text"] {
  border-radius: 15px;
  border-color: rgb(225,145,160);
  padding-left: 10px;
  color: red;
  position:relative;
}

.navbar_and_search {
  background-color: rgb(244, 201, 208);
  height: 50px;
  font-family: 'Corben', Georgia, Times, serif;
}
/* Lower Styles */

.pure-u-1-5 {
  height: 100%;
  border-radius 25px;
  background-color: white;
}

.filter_table {
  border-radius 25px;
  width: 100%;
  height:90%;
   background-color: rgb(237, 250, 209);

}

.filter_table > .search_and_button {
 display: inline;
}

.under_section {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 0 0 25px 25px;
}

.under_section > .pure-u-1-1 >.pure-u-1-2 {
  margin-top: 30px;
}

.under_section > .pure-u-1-1 > .pure-u-1-2 > h3 {
  color: #5AD156;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;
}
/* Put the darker blue color in background below the navbar */
.darker-blue {
	background-color: rgb(117, 203, 208);
	width: 100%;
	height: 100%;
}

.pure-primary {
  background-color: rgb(138, 185, 57);
  color: white;
}
.fieldset {
  margin-left: auto;
  margin-right: auto;
}

