/* Global Styles */

body {
  background-color: lightblue;
}


h3 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 1.3em;
}

.right {
  float: right;
}


.login h4 {
  margin-bottom: 5px;
  color: rgb(70,168,175);
}



p {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

.darker-blue {
  background-color: #78cbd1; 
  width: 100%; 
  height: 100%;
}


.top_section {
  border-radius: 25px 25px 0 0;
  background-color: white;
}

.top_section > .pure-u-1-2 > img {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.pure-g {
  margin: 0 auto;
  width: 80%;

}



/* Navigation */

ul  {
  display: block;
  letter-spacing: 1px;
  padding-right: 100px;
  
  
}


.color-buttons {
  padding-top:20px;
  margin-top: 20px; 
}

.topnav {
  margin-top: 68px;
}


 h3 {
  display: block;
  letter-spacing: 1px;
  font-size: small;
  color: lightblue;
}

.navbar_and_search li {

  display: inline;
  padding-left: 50px;
  float: left;
  color: rgb(125, 37, 87);
}

.search {
  float: right;
  padding-right: 150px;
  margin-top: -5px;
}

.navbar_and_search {
  background-color: pink;
  height: 40px;
  font-family: 'Corben', Georgia, Times, serif;
}

/* Lower Styles */

.under_section {
  clear: both;
  background-color: white;
  border-radius: 0 0 25px 25px;
}



 .pure-u-1-5 {
  margin-top: 30px;
  background-color: #F0F9D2;
 }

.button-error {
  background: rgb(202, 60, 60);
  color: white;  
}

.pure-u-1-5 {
  
  background color: #F0F9D2;
}

.pure-u-4-5 {
  float: right;
  border-color: 1px red;
}


.pure-table.pure-table-horizontal {
  
  border-spacing: 100px;
  border-collapse: collapse;
  padding: 0
  border: 0px solid;
}

.ecom-table > tr > td > p{
  font-size: 10px;
  color: red;
} 


footer {
  height: 200px;
  font-size: 16px;
  width: 400px;
}

.footer ul {
  text-align: center;
}


.footer li {
  margin: 0px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  float: center;
  position: relative;
  padding: 3px 5px;
  color: #f0ffff;
  font-size: 14px;
  opacity: 0.60;
}


.links {
  float: right;
}

.links ul {
  text.align: right;
  height: 60px;
}

.links li {
  margin: 0px;
  text-align: right;
  display: inline-block;
  list-style-type: none;
  float: center;
  position: relative;
  padding: 3px 5px;
  color: #95A661;
  font-size: 14px;
  opacity: 0.60;
}

.filter_table {
 border-radius 25px;
 width: 100%;
 height:90%;
  background-color: rgb(237, 250, 209);

}

.filter_table > .search_and_button {
display: inline;
}
.under_section > .pure-u-1-1 >.pure-u-1-2 {
 margin-top: 30px;
}

.under_section > .pure-u-1-1 > .pure-u-1-2 > h3 {
 color: #5AD156 ;
}

.pure-primary {
 background-color: rgb(138, 185, 57);
 color: white;
}
.fieldset {
 padding-left: 50px; 
}
